includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - config
        - resources
        - routes
        - tests

    # The level 8 is the highest level
    level: 6

    ignoreErrors:
        -
            message: '#Variable \$factory might not be defined.#'
            path: database/factories/*

    excludes_analyse:
        - app/Http/Controllers/Auth/*

    checkMissingIterableValueType: false
