includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - config
        - resources
        - routes
        - tests

    # The level 8 is the highest level
    level: 4

    excludePaths:
        - app/Http/Controllers/Auth/*

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#only\(\) invoked with 4 parameters, 1 required.#'
