/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */
:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
    --light-background: #ebedf0;
    --dark-background: #343a40;
}

[data-bs-theme='light'] {
    --theme-background-color: var(--light-background);
}

[data-bs-theme='dark'] {
    --theme-background-color: var(--dark-background);
}

.squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
    padding: 0;
}

.graph {
    border: 1px #e1e4e8 solid;
}

.squares li {
    background-color: var(--theme-background-color);
    list-style: none;
}

.squares li[data-level="1"] {
    background-color: #c6e48b;
}

.squares li[data-level="2"] {
    background-color: #7bc96f;
}

.squares li[data-level="3"] {
    background-color: #239a3b;
}

.squares li[data-level="4"] {
    background-color: #196127;
}
