.x-z-index-0 {
    z-index: 0 !important;
}

.x-min-w-0 {
    min-width: 0px !important;
}

.x-z-index-dropdown {
    z-index: 2000 !important;
}

.x-text-pre-wrap {
    white-space: pre-wrap;
}

.x-vh-75 {
    height: 75vh
}

.x-bg-gray {
    background: #e9ecef;
}

[data-bs-theme=dark] {
    .x-bg-gray {
        background: #343a40;
    }

    .hljs {
        color: inherit;
        background-color: inherit;
    }
}