// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'profile';

@import 'activity_chart';

@import "carousel";

.x-z-index-0 {
    z-index: 0 !important;
}

.x-min-w-0 {
    min-width: 0px !important;
}

.x-z-index-dropdown {
    z-index: 2000 !important;
}

// NOTE: move if it will be necessary. It should be do for the site.
.x-bg-gray-200 {
    background: $gray-200;
}

.wraped-code {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
