// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'profile';

@import 'activity_chart';

.x-z-index-0 {
    z-index: 0;
}
