#lang racket
(provide (all-defined-out))

;;; Exercise {exercise_path}
;;; See: {exercise_url}

;;; BEGIN SOLUTION
;;; Write your solution here
;;; Example:
;;; (define (solution x)
;;;   ...)
;;; END SOLUTION
