name: Main workflow

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          extensions: mbstring, curl, dom, xml, zip, sqlite, xdebug
          php-version: '8.0'

      - name: Setup Racket
        uses: Bogdanp/setup-racket@v1.1
        with:
          architecture: 'x64'
          distribution: 'full'
          variant: 'CS'
          version: 'stable'

      - name: Setup project
        run: |
          php -v
          make setup

      - name: PHP Security Checker
        uses: symfonycorp/security-checker-action@v2

      - name: Static analysis
        run: make analyse

      - name: Check lint
        run: make lint

      - name: Execute tests (Unit and Feature tests) via PHPUnit
        run: |
          make test-coverage

      - name: Execute tests with PostgreSQL
        run: make test-coverage
        env:
          DB_CONNECTION: pgsql
          DB_HOST: localhost
          DB_DATABASE: postgres
          DB_USERNAME: postgres
          DB_PASSWORD: postgres

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: build/logs/clover.xml
          fail_ci_if_error: true
